
<main>
  <section class="introduction">
    <img class="profile_pic"
      src="https://images.unsplash.com/photo-1605076896228-086cda8868c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
      alt="" srcset="">
    <div class="intro">
      <div class="intro">
        <div class="name">Ayşegül Doğudu Akça</div>
        <div class="name"><span>Fotoğraf Sanatçısı</span></div> <br>
        <button class="portfolio_button" ><span  routerLink="gallery">PORTFÖYÜM</span> </button>
      </div>
    </div>
  </section>

  <!-- <section class="photography">
    <h1>Çevre Ve Doğa Resimleri</h1>
    <ng-container *ngIf="employees$">
      <ul>
        <li *ngFor="let employee of employees$ ">
          <img [src]="employee.imagen" alt="" width="100" height="100" />
          {{ employee.name }}
        </li>
      </ul>
    </ng-container>
  </section>
  <section class="photography">
    <h1>WILDLIFE PHOTOGRAPHY</h1>
    <div class="images">
      <img id="image"
        src="https://images.unsplash.com/photo-1561627855-94b0aaa2e4dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
        alt="" srcset="">
      <img id="image"
        src="https://images.unsplash.com/photo-1484406566174-9da000fda645?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=635&q=80"
        alt="" srcset="">
      <img id="image"
        src="https://images.unsplash.com/photo-1545006398-2cf47cd87b90?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=615&q=80"
        alt="" srcset="">
      <img id="image"
        src="https://images.unsplash.com/photo-1472491235688-bdc81a63246e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
        alt="" srcset="">
    </div>
  </section>
  <section class="photography">
    <h1>WEDDING PHOTOGRAPHY</h1>
    <div class="images">
      <img id="image"
        src="https://images.unsplash.com/photo-1546032996-6dfacbacbf3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=655&q=80"
        alt="" srcset="">
      <img id="image"
        src="https://images.unsplash.com/photo-1580151134699-e0cfbeb763d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
        alt="" srcset="">
      <img id="image"
        src="https://images.unsplash.com/photo-1606216794079-73f85bbd57d5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
        alt="" srcset="">
      <img id="image"
        src="https://images.unsplash.com/photo-1603214924133-5c2c78471b73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=800"
        alt="" srcset="">
    </div>
  </section> -->
</main>
