
<main>
  <section class="introduction">
    <img class="profile_pic"
      src="https://images.unsplash.com/photo-1605076896228-086cda8868c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
      alt="" srcset="">
    <div class="intro">
      <div class="intro">
        <div class="name">Ayşegül Doğudu Akça</div>
        <div class="name"><span>Fotoğraf Sanatçısı</span></div> <br>
        <button class="portfolio_button" ><span  routerLink="gallery">PORTFÖYÜM</span> </button>
      </div>
    </div>
  </section>
</main>
