<div class="p-grid">

  <div class="p-col-10 p-offset-1">
    <p-divider align="center">
      <div class="p-text-uppercase p-text-light" style="color: white" id="projects">Projects</div>
    </p-divider>
    <div class="p-d-inline-flex p-flex-wrap" *ngFor="let project of $projects | async">
      <p-card class="p-d-inline p-mr-2 p-mb-2" >
        <a href="{{ project.projectUrl }}">
          <div class="p-text-center" style="color: white;">
            <p-avatar class="p-mb-2 p-d-block" image="{{ project.projectIconUrl }}" size="xlarge"></p-avatar>
            <div class="p-d-block">
              {{ project.projectName }}
            </div>
          </div>
        </a>
      </p-card>
    </div>
  </div>
</div>
