<!-- <div class="p-grid">

  <div class="p-col-10 p-offset-1">
    <p-divider align="center">
      <div class="p-text-uppercase p-text-light" style="color: white" id="projects">Projects</div>
    </p-divider>
    <div class="p-d-inline-flex p-flex-wrap" *ngFor="let project of $projects | async">
      <p-card class="p-d-inline p-mr-2 p-mb-2" >
        <a href="{{ project.projectUrl }}">
          <div class="p-text-center" style="color: white;">
            <p-avatar class="p-mb-2 p-d-block" image="{{ project.projectIconUrl }}" size="xlarge"></p-avatar>
            <div class="p-d-block">
              {{ project.projectName }}
            </div>
          </div>
        </a>
      </p-card>
    </div>
  </div>
</div> -->

<!-- kk -->

<!-- <div class="box" *ngFor="let project of $projects | async">
  <a href="{{ project.projectUrl }}" target="_blank">
    <div class="img__box">
      <img src="{{ project.projectIconUrl }}" alt="">
    </div>
    <div class="content">
      <p class="content__text">
        {{ project.projectName }}
      </p>
    </div>
  </a>
</div> -->

<section class="our-blog">
  <div class="container">
    <div class="text-center">
      <h2>Eserlerim</h2>
      <p>Günlük Hayatımdan Objektifime Giren Tüm Eserlerimi Sergilediğim Koleksiyonum...</p>
    </div>
    <div class="row mt-5">
      <div class="col" *ngFor="let project of $projects | async">
        <div class="card">
          <img src="{{ project.projectIconUrl }}" alt="">
          <div class="card-body">
            <h5 class="card-title">
              <a href="#"> {{ project.projectName }} </a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
