<section class="about_me_section">
  <div class="about_me">
    <h1>Sana biraz kendimden bahsedeyim</h1><br><br>
    <p>Merhaba ben Ayşegül. Fotoğraf sanatçısıyım hobi ile başladığım fotoğraf sanatında kendimi geliştirmekteyim.
      Doğa ve günlük yaşamdan hayatımda bulunan ve gördüğüm tüm sanat bütünlüğünü objektifime yakalayabildiğim
      zamanlarda omları birer sanat eserine dönüştürerek eserlerime katmaktayım. </p>
  </div>
  <img id="about_me_image" src="../../../../assets/image/profile/real.png" alt=""
    srcset="">
</section>
