<!-- TODO: update classes to use primeng -->
<div class="p-grid">
  <div class="p-col-10 p-offset-1">
    <p-divider align="center">
      <div class="p-text-uppercase p-text-light" style="color: white" id="projects">Tools</div>
    </p-divider>
    <div class="p-d-inline-flex p-flex-wrap" *ngFor="let tool of $tools | async">
      <p-card class="p-d-inline p-mr-2 p-mb-2"  [style]="{'width': '10rem'}">
        <div class="p-text-center">
            <p-avatar image="{{ tool.toolImgUrl }}" size="xlarge"></p-avatar>
            <div style="color: white;">
              {{ tool.toolName }}
            </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
