<div class="ui content">
  <div class="ui center basic segment">

    <div class="ui horizontal divider">
      <h1 id="aboutMe">Mesajlarım</h1>
    </div>

    <div class="ui divided list" *ngFor="let message of messageList$ | async">

      <div [ngClass]="message.read ? 'ui blue float message' : 'ui green float message'">
        <div class="ui two row grid">
          <div class="row">
            <div class="close icon">
              <button class="ui button" (click)="toggleRead(message)">
                <i [ngClass]="message.read ? 'left float blue envelope open icon' : 'left float green envelope icon'"></i>
                {{ message.read ? 'okunmamış olarak işaretle' : 'Okundu olarak işaretle' }}
              </button>
              <button class="ui button" (click)="deleteMessage(message)">
                <i class="minus circle red icon"></i>
               Mesajı Sil
              </button>
            </div>
          </div>

          <div class="row">
            <div class="header">
              <p>
                İSİM: <br> {{ message.name }} <br><br>
                TELEFON NUMARASI: <br>{{ message.contactNumber }} <br> <br>
                EMAİL: <br> {{ message.email }} <br><br>
                MESAJ: <br> {{ message.message }} <br><br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
